@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    min-height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

nav {
    box-shadow: var(--box-shadow);
}

a {
    color: var(--dark);
    text-decoration: none;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
}

.hero {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 1px;
    overflow: hidden;
}

.custom-container {
	padding: 10px;
	margin: auto;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark);
    z-index: -1;
}

.inner-container, .container {
    padding: 0;
    margin: auto;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Remove spacing around the slideshow */
.carousel-inner, .carousel-item, .carousel, img {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 700px;
}

.footer {
	position: relative;
	background-color: var(--dark);
	padding: 10px;
	text-align: center;
    margin-top: 0;
	width: 100%;
	bottom: 0;
	left: 0;
}

.footer p {
	font-size: 15px;
	color: var(--body);
}

.hero-text span {
	color: var(--dark);
}

.hero-text p {
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Lobster', cursive;
}

.logo {
	width: 50px;
	height: auto;
	margin-right: 10px;
	border-radius: 5px;
}

.hero .text-center {
	z-index: 1;
}

.hero .row {
	position: relative;
}

section {
    padding-top: 80px;
    padding-bottom: 100px;
}

.card-effect {
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 10px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}