
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

html, body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

body {
    font-family: "Sora", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: var(--body);
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
}

.hero {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.custom-container {
	padding: 10px;
	margin: auto;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    z-index: -1;
}

.footer {
	position: relative;
	background-color: #f8f9fa;
	padding: 10px;
	text-align: center;
	width: 100%;
	bottom: 0;
	left: 0;
}

.footer p {
	font-size: 15px;
	color: #666;
}

.hero-text span {
	color: #000000;
}

.hero-text p {
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Lobster', cursive;
}

.logo {
	width: 50px;
	height: auto;
	margin-right: 10px;
	border-radius: 5px;
}

.hero .text-center {
	z-index: 1;
}

.hero .row {
	position: relative;
}
