
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
}

.hero {
    background-image: url('../img/BAL.jpeg');
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}

.custom-container {
	padding: 20px;
	margin: auto;
}

.footer {
	background-color: #BEBEBE;
	padding: 10px;
	text-align: center;
}

.footer p {
	font-size: 15px;
	color: #666;
}

.hero-text span {
	color: #000000;
}

.hero-text p {
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Lobster', cursive;
}

.logo {
	width: 50px;
	height: auto;
	margin-right: 10px;
	border-radius: 5px;
}
