<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO meta tags -->
    <meta name="description" content="Athletes Hub: Connecting skillful underprivileged athletes in Africa with coaches from around the world.">

    <!-- Open Graph meta tags for social media -->
    <meta property="og:title" content="Welcome to Athletes Hub">
    <meta property="og:description" content="Your platform to connect with coaches and showcase your talents.">
    <meta property="og:image" content="{{ url_for('static', filename='img/og_image_for_Athletes_Hub.webp') }}">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Welcome to Athletes Hub">
    <meta name="twitter:description" content="Your platform to connect with coaches and showcase your talents.">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/og_image_for_Athletes_Hub.webp') }}">

    <!-- CSS links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <title>Welcome to Athletes Hub</title>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg py-0 sticky-top bg-white mb-0">
        <div class="container custom-container">
			<div class="hero-text">
				<img src="static/img/Athletes_hub_logo2.png" alt="Athletes Hub logo" class="logo">
				<span class="fw-bold">Athletes Hub</span>
				<p>...Breaking boundaries, creating possibilities.<p>
			</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Contact Us
						</a>
						<ul class="dropdown-menu" aria-labelledby="contactDropdown">
							<li><a class="dropdown-item" href="mailto:athleteshub9@gmail.com">Email: athleteshub9@gmail.com</a></li>
							<li><a class="dropdown-item" href="mailto:info@athleteshub.com">Email: info@athleteshub.com</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="https://X.com/athleteshub" target="_blank">X (Twitter): @AthletesHu19974</a></li>
						</ul>
					</li>
                    <li class="nav-item">
			    		<a class="nav-link" href="{{ url_for('auth.signup') }}">Signup</a>
                    </li>
                </ul>
				<a href="{{ url_for('auth.login') }}" class="btn btn-primary ms-lg-3">Login</a>
            </div>
        </div>
    </nav><!-- //NAVBAR -->

    <!-- Main content, e.g Hero, slideshow, body content -->
    <main class="flex-grow-1">
        <div class="hero d-flex align-items-center justify-content-center" id="home">
            <div class="container-fluid inner-container">
				<div class="row justify-content-center">

	            	<!-- Slideshow section -->
	            	<div id="slideshow" class="carousel slide" data-bs-ride="carousel">
	                	<div class="carousel-inner">
		            		<div class="carousel-item active">
		                		<img src="{{ url_for('static', filename='img/soccer2.jpg') }}" class="d-block w-100" alt="slide 1" loading="lazy">
		            		</div>
		            		<div class="carousel-item">
		                		<img src="{{ url_for('static', filename='img/bball1.jpg') }}" class="d-block w-100" alt="slide 2" loading="lazy">
		            		</div>
		            		<div class="carousel-item">
		                		<img src="{{ url_for('static', filename='img/soccer1.jpg') }}" class="d-block w-100" alt="slide 3" loading="lazy">
		            		</div>
			    			<div class="carousel-item">
								<img src="{{ url_for('static', filename='img/bball2.jpg') }}" class="d-block w-100" alt="slide 4" loading="lazy">
			    			</div>
			    			<div class="carousel-item">
								<img src="{{ url_for('static', filename='img/soccer5.jpg') }}" class="d-block w-100" alt="slide 5" loading="lazy">
			    			</div>
			    			<div class="carousel-item">
								<img src="{{ url_for('static', filename='img/bball4.jpg') }}" class="d-block w-100" alt="slide 6" loading="lazy">
			    			</div>
			    			<div class="carousel-item">
								<img src="{{ url_for('static', filename='img/soccer3.jpg') }}" class="d-block w-100" alt="slide 7" loading="lazy">
			    			</div>
			    			<div class="carousel-item">
								<img src="{{ url_for('static', filename='img/bball5.jpg') }}" class="d-block w-100" alt="slide 8" loading="lazy">
			    			</div>
			    			<div class="carousel-item">
								<img src="{{ url_for('static', filename='img/soccer4.jpg') }}" class="d-block w-100" alt="slide 9" loading="lazy">
			    			</div>
			    			<div class="carousel-item">
								<img src="{{ url_for('static', filename='img/bball3.jpg') }}" class="d-block w-100" alt="slide 10" loading="lazy">
			    			</div>
		        		</div>
		        		<button class="carousel-control-prev" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
		            		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		            		<span class="visually-hidden">Previous</span>
		        		</button>
		        		<button class="carousel-control-next" type="button" data-bs-target="#slideshow" data-bs-slide="next">
		            		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		            		<span class="visually-hidden">Next</span>
		        		</button>
	            	</div>

		    		<!-- Hero text section -->
		    		<div class="col-lg-7 text-center">
                        <h1 class="display-4 text-white">Welcome to Athletes Hub</h1>
                        <p class="text-white my-3">Our mission is to help you connect with scouts from around the world, irrespective of your social status, 
		        			background, or beliefs.
		        			We aim to breach the limitations that comes with playing your sport at a professional level here in Africa. Due to the large number of youths 
		        			playing either Football or Basketball in Africa, Athletes Hub was created for this purpose, focusing strictly on Basketball and Football athletes. 
		        			Ready to present yourself to scouts from around the world? Get started with us today by clicking on the button below.
		        		</p>
		        		<a href="{{ url_for('auth.signup') }}" class="btn me-2 btn-primary">Get Started</a>
		        		<a href="{{ url_for('auth.login') }}" class="btn btn-outline-light">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer --->
    <footer class="footer">
        <div class="container">
		<p class="text-center">&copy; 2024 Athletes Hub. All rights reserved.</p>
	</div>
    </footer>

    <!-- Bootstrap JS bundle (includes Popper and all dropdown functionalities) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
