<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Reset Password</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="../static/img/Athletes_hub_logo2.png" alt="Athletes Hub logo" class="logo">
						<span class="navbar-brand mb-0 h1">Athletes Hub</span>
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Please enter a new password for your account</h1>
							<form method="POST" action="{{ url_for('auth.reset_password') }}" class="needs-validation" novalidate autocomplete="off">
								{{ form.hidden_tag() }}
					
								<!-- Username field -->
								<div class="mb-3">
									<label class="mb-2 text-muted">{{ form.username.label }}</label>
									{{ form.username(class="form-control" + ("is-invalid" if form.username.errors else ""), 
									autofocus=True) }}
									{% if form.username.errors %}
										<div class="invalid-feedback">
											{% for error in form.username.errors %}
												{{ error }}
											{% endfor %}
										</div>
									{% endif %}
								</div>
					
								<!-- New password field -->
								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="password">{{ form.new_password.label }}</label>
									</div>
									{{ form.new_password(class="form-control" + ("is-invalid" if form.new_password.errors else ""), 
									id="password") }}
									{% if form.new_password.errors %}
										<div class="invalid-feedback">
											{% for error in form.new_password.errors %}
												{{ error }}
											{% endfor %}
										</div>
									{% endif %}
								</div>
					
								<!-- Submit field -->
								<div class="d-flex align-items-center">
									{{ form.submit(class="btn btn-primary mx-auto") }}
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
