<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Sign up</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<section>
		<div class="container">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<span class="navbar-brand mb-0 h1">Athletes Hub</span>
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title text-center fw-bold mb-4">Sign up</h1>

							<!-- Flash messages -->
							{% with messages = get_flashed_messages(with_categories=True) %}
							  {% if messages %}
							    <div class="alert-container">
							      {% for category, message in messages %}
							        <div class="alert alert-{{ category }}">
									{{ message }}
								</div>
							      {% endfor %}
							    </div>
							  {% endif %}
							{% endwith %}

							<!-- Signup form -->
							<form method="POST" action="{{ url_for('auth.signup') }}" class="row g-3 needs-validation">
                                {{ form.hidden_tag() }}
                                <div class="col-md-6">
                                    {{ form.first_name.label(class="form-label") }}
                                    {{ form.first_name(class="form-control is-invalid" if form.first_name.errors else "form-control is-valid" if form.first_name.data 
				    else "form-control", placeholder="First name", aria_label="First name") }}
                                    {% if form.first_name.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.first_name.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% else %}
				    	<div class="valid-feedback">Looks good!</div>
				    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.last_name.label(class="form-label") }}
                                    {{ form.last_name(class="form-control is-invalid" if form.last_name.errors else "form-control is-valid" if form.last_name.data 
				    else "form-control", placeholder="Last name", aria_label="Last name") }}
                                    {% if form.last_name.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.last_name.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% else %}
				    	<div class="valid-feedback">Looks good!</div>
				    {% endif %}
                                </div>
                                <div class="col-12">
                                    {{ form.email.label(class="form-label") }}
                                    {{ form.email(class="form-control is-invalid" if form.email.errors else "form-control is-valid" if form.email.data 
				    else "form-control", placeholder="text@example.com", id="inputEmail4") }}
                                    {% if form.email.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% else %}
				    	<div class="valid-feedback">Email looks valid!</div>
				    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.age.label(class="form-label") }}
                                    {{ form.age(class="form-control", id="inputAge") }}
                                    {% if form.age.errors %}
                                        <div class="text-danger">
                                            {% for error in form.age.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.height.label(class="form-label") }}
                                    {{ form.height(class="form-control", id="inputHeight") }}
                                    {% if form.height.errors %}
                                        <div class="text-danger">
                                            {% for error in form.height.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.username.label(class="form-label") }}
                                    {{ form.username(class="form-control", id="inputUsername") }}
                                    {% if form.username.errors %}
                                        <div class="text-danger">
                                            {% for error in form.username.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.password.label(class="form-label") }}
                                    {{ form.password(class="form-control is-invalid" if form.password.errors else "form-control is-valid" if form.password.data 
				    else "form-control", id="inputPassword4") }}
                                    {% if form.password.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% else %}
				    	<div class="valid-feedback">Password looks strong!</div>
				    {% endif %}
                                </div>
                                <div class="col-12">
                                    {{ form.role.label(class="form-label") }}
                                    <!-- Flask-WTF SelectField with custom Bootstrap styling -->
                                    <select class="form-select" id="role" name="role" aria-label="Role selection">
                                        <option disabled selected></option>
                                        <option value="Athlete">Athlete</option>
                                        <option value="Coach">Coach</option>
                                    </select>
                                    {% if form.role.errors %}
                                        <div class="text-danger">
                                            {% for error in form.role.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12">
                                    {{ form.sport.label(class="form-label") }}
                                    <select class="form-select" id="sport" name="sport" aria-label="Sport selection">
                                        <option disabled selected></option>
                                        <option value="Football">Football</option>
                                        <option value="Basketball">Basketball</option>
                                    </select>
                                    {% if form.sport.errors %}
                                        <div class="text-danger">
                                            {% for error in form.sport.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.country.label(class="form-label") }}
                                    {{ form.country(class="form-control", id="inputCountryName") }}
                                    {% if form.country.errors %}
                                        <div class="text-danger">
                                            {% for error in form.country.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.state.label(class="form-label") }}
                                    {{ form.state(class="form-control", id="inputState") }}
                                    {% if form.state.errors %}
                                        <div class="text-danger">
                                            {% for error in form.state.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12">
                                    {{ form.bio.label(class="form-label") }}
                                    {{ form.bio(class="form-control", placeholder="Enter your bio here...", rows="5", id="bio") }}
                                    {% if form.bio.errors %}
                                        <div class="text-danger">
                                            {% for error in form.bio.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    {{ form.submit(class="btn btn-primary mx-auto") }}
                                </div>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
